@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.productsPortfolio {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.productsPortfolio .breadWrapper {
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  margin-bottom: 30px;
}

.productsPortfolio .breadWrapper .crumbLink {
  font-size: 20px;
}

.productsPortfolio .breadWrapper .crumbLink:hover {
  color: #A5301F;
}

.productsPortfolio .breadWrapper .crumbTitle {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.productBanner {
  margin-bottom: 20px;
  width: 100%;
}

.productDescription {
  margin-bottom: 20px;
}

.productDescription .productTitle {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 5px;
}

.productDescription .productText {
  color: #999;
}

.bannerImage {
  max-width: 100%;
  height: 300px;
  -o-object-fit: cover contain;
     object-fit: cover contain;
}

.productSortBar {
  border: 1px solid #e5e5e5;
  padding: 15px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productSortBar .productSortBarLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productSortBar .productSortBarLeft .productSortListType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.productSortBar .productSortBarLeft .productSortListType .productGridOption {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}

.productSortBar .productSortBarLeft .productSortListType .productGridOption .optionIcon {
  font-size: 31px;
  color: #999;
}

.productSortBar .productSortBarLeft .productSortListType .productGridOption .optionIcon:hover {
  color: #A5301F;
}

.productSortBar .productSortBarLeft .productSortListType .productListOption {
  cursor: pointer;
  display: inline-block;
}

.productSortBar .productSortBarLeft .productSortListType .productListOption .optionIcon {
  font-size: 25px;
  color: #999;
}

.productSortBar .productSortBarLeft .productSortListType .productListOption .optionIcon:hover {
  color: #A5301F;
}

.activeGrid {
  color: #333 !important;
}

.productSortBarRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productSortBarRight .productSortText {
  display: inline-block;
  margin-right: 10px;
  color: #888;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}

.productQuantity {
  margin: 0 10px;
}

.productQuantityText {
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}

.sortInput {
  border: 1px solid #efefef;
  color: #333;
}

.filterWrapperMain {
  background-color: #fff;
  padding-bottom: 20px;
}

.filterWrapper {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}

.filterWrapper .filterTitle {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 5px;
}

.filterWrapper .filterListItem {
  list-style: none;
}

.filterList {
  padding: 5px 0;
}

.filterText {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 5px;
  color: #888;
}

.filterPriceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  width: 100%;
}

.filterPriceWrapper .filterPrice {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #888;
  display: inline-block;
  margin-right: 10px;
  min-width: 40px;
}

.filterPriceWrapper .filterPriceRight {
  margin-left: 10px;
  margin-right: 0 !important;
}

.newProductWrapper {
  margin-bottom: 20px;
}

.newProductsList {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.newProductsList .newProductsListItem {
  padding: 5px;
  list-style: none;
  width: 100%;
}

.newProductsList .newProductsListItem .newProductLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newProductsList .newProductsListItem .newProductLink .newProductsImg {
  width: 75px;
  height: auto;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
}

.newProductsList .newProductsListItem .newProductLink .newProductsInfo {
  min-width: 150px;
}

.newProductsList .newProductsListItem .newProductLink .newProductsInfo .newProductsTitle {
  font-size: 17px;
  color: #777;
  font-family: "Oswald", sans-serif;
  margin-bottom: 5px;
}

.newProductsList .newProductsListItem .newProductLink .newProductsInfo .newProductsPrice {
  font-size: 17px;
  color: #A5301F;
  font-family: "Oswald", sans-serif;
  margin-bottom: 5px;
}
/*# sourceMappingURL=Products.module.css.map */