@import "../../../SCSS/Variables.scss";
@import "../../../SCSS/Mixins.scss";

.orderMain {
  padding: 2rem 0;
  width: 100%;
  height: 100%;
}
.cartItemsWrapper {
  margin: 1rem 0;
}
.cartTitle {
  font-family: $mainFont;
  color: #000;
  font-size: 20px;
}
.deleteAllItems {
  cursor: pointer;
}
.deleteIcon {
  color: $mainColor;
  font-size: 20px;
  margin: 0 10px;
}
.deleteText {
  color: #333;
  font-family: $mainFont;
  font-size: 18px;
}
.cartProductList {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
.cartProductWrapper {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.cartProductImgArea {
  width: 90px;
  border: 1px solid #efefef;
  border-radius: 20px;
  height: 90px;
  padding: 5px;
  margin-right: 10px;
}
.cartProductImg {
  width: 100%;
  height: auto;
}
.cartProductPrice {
  font-family: $mainFont;
  font-size: 18px;
  color: $mainColor;
  margin-bottom: 10px;
  margin-right: 10px;
}
.oldCartProductPrice {
  font-family: $mainFont;
  font-size: 18px;
  color: #999;
  margin-bottom: 10px;
  text-decoration: line-through;
}
.cartProductTitle {
  font-family: $mainFont;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}
.quantityOptions {
  margin: 1rem 0;

  .quantityTitle {
    font-size: 16px;
    color: #000;
    font-family: $mainFont;
  }
  .quantityItems {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    .quantityIcon {
      cursor: pointer;
      display: inline-block;
      padding: 7px;
      background-color: #efefef;
      &:hover {
        background-color: #e6e6e6;
      }
    }
    .quantityNumber {
      text-align: center;
      width: 60px;
      outline: none;
      background-color: $secondaryColor;
      padding: 7px 10px;
    }
  }
}
.quantityIconTrash {
  cursor: pointer;
  display: inline-block;
  padding: 7px;
  color: $mainColor;
  background-color: #efefef;
  &:hover {
    background-color: #e6e6e6;
  }
}
.cartItemBottomTitle {
  padding: 20px 0;
  width: 100%;
  .cartItemBottomTitleText {
    font-family: $mainFont;
    font-size: 15px;
    color: #777;
  }
}
.cartSummary {
  margin: 1rem 0;
}
.cartSummaryInner {
  padding: 10px 0;
}
.cartSummaryItems {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.cartSummaryItemTitle {
  display: inline-block;
  font-family: $mainFont;
  color: #666;
  font-size: 17px;
}
.cartSummaryItemPrice {
  display: inline-block;
  font-family: $mainFont;
  color: $mainColor;
  font-size: 17px;
}
.cartSummaryItemIneffective {
  display: inline-block;
  font-family: $mainFont;
  color: #999;
  font-size: 17px;
}
.nextStepBtn {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: $mainColor;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  font-family: $mainFont;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $secondaryColor !important;
    color: #000 !important;
  }
}

// Steps

.stepIcon {
  margin-bottom: 10px;
  font-size: 25px;
}

// Address

.orderForm {
  margin: 1rem 0;
  padding: 0.7rem 0;
}
.label {
  font-family: $mainFont;
  font-size: 17px !important;
}

// Payment

.cardWrapper {
  margin: 1rem 0;
  padding: 0.7rem 0;
  position: relative;
  height: 100%;
}
.flipCard {
  perspective: 1000px;
}

.cardShowBack {
  transform: rotateY(180deg) !important;
}
.card {
  max-width: 420px;
  min-height: 270px;
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: 0.6s ease-in-out;
}
.cardFrontMain {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.cardFront {
  background: url("Assets/Payment/cardWallpaper.png");
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 20px;
  padding: 10px;
}
.cardFade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.623);
  border-radius: 20px;
}
.cardFrontWrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  @include flexcolbetween;
}

.cardFrontTop {
  @include flexrowbetween;
  margin-bottom: 10px;
}
.cardFrontTopLeft {
  @include flexrowcenter;
  height: auto;
}
.cardChipArea {
  width: 65px;
  height: 65px;
}
.contactless {
  width: 40px;
  height: 40px;
}
.contactlessImage {
  width: 100%;
  height: auto;
  filter: invert(1);
}
.cardFrontTopRight {
  width: 80px;
  background-color: #fff;
  border-radius: 10px;
}
.cardFrontBottom {
  @include flexcolstart;
  width: 100%;
}
.cardNumber {
  @include flexcolstart;
}
.cardLabel {
  color: #fff;
  font-size: 21px;
  font-family: $mainFont;
  margin-bottom: 5px;
  text-align: start;
  text-transform: uppercase;
}
.cardNumberInput {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 30px;
  color: #fff;
  font-family: $mainFont;

  &::placeholder {
    color: #999;
  }
}
.cardOwner {
  margin-top: 5px;
}
.cardOwnerInput {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 19px;
  color: #fff;
  font-family: $mainFont;
  margin-right: 5px;
  &::placeholder {
    color: #999;
  }
}

.cardExpiryInput {
  width: 50px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 19px;
  color: #fff;
  font-family: $mainFont;
  text-align: center;
  &::placeholder {
    color: #999;
  }
}
.cardExpirySlash {
  color: #fff;
  font-size: 20px;
  display: inline-block;
}

.cardBack {
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.cardBackWrapper {
  position: relative;
  z-index: 0;
  max-width: 420px;
  min-height: 270px;
  padding: 10px 0;
  border-radius: 20px;
  background: url("Assets/Payment/cardWallpaper.png");
  background-size: cover;
  background-position: center;
}
.cardBackInner {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.cardBackCvvArea {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #333;
  margin: 10px 0;
  padding: 10px;
}
.cardCvvInput {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-size: 19px;
  font-family: $mainFont;
  width: 60px;
  text-align: center;
  margin-bottom: 5px;
  &::placeholder {
    color: #999;
  }
}
