@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.orderMain {
  padding: 2rem 0;
  width: 100%;
  height: 100%;
}

.cartItemsWrapper {
  margin: 1rem 0;
}

.cartTitle {
  font-family: "Oswald", sans-serif;
  color: #000;
  font-size: 20px;
}

.deleteAllItems {
  cursor: pointer;
}

.deleteIcon {
  color: #A5301F;
  font-size: 20px;
  margin: 0 10px;
}

.deleteText {
  color: #333;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

.cartProductList {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.cartProductWrapper {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cartProductImgArea {
  width: 90px;
  border: 1px solid #efefef;
  border-radius: 20px;
  height: 90px;
  padding: 5px;
  margin-right: 10px;
}

.cartProductImg {
  width: 100%;
  height: auto;
}

.cartProductPrice {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #A5301F;
  margin-bottom: 10px;
  margin-right: 10px;
}

.oldCartProductPrice {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #999;
  margin-bottom: 10px;
  text-decoration: line-through;
}

.cartProductTitle {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}

.quantityOptions {
  margin: 1rem 0;
}

.quantityOptions .quantityTitle {
  font-size: 16px;
  color: #000;
  font-family: "Oswald", sans-serif;
}

.quantityOptions .quantityItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.quantityOptions .quantityItems .quantityIcon {
  cursor: pointer;
  display: inline-block;
  padding: 7px;
  background-color: #efefef;
}

.quantityOptions .quantityItems .quantityIcon:hover {
  background-color: #e6e6e6;
}

.quantityOptions .quantityItems .quantityNumber {
  text-align: center;
  width: 60px;
  outline: none;
  background-color: #F5BF1A;
  padding: 7px 10px;
}

.quantityIconTrash {
  cursor: pointer;
  display: inline-block;
  padding: 7px;
  color: #A5301F;
  background-color: #efefef;
}

.quantityIconTrash:hover {
  background-color: #e6e6e6;
}

.cartItemBottomTitle {
  padding: 20px 0;
  width: 100%;
}

.cartItemBottomTitle .cartItemBottomTitleText {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  color: #777;
}

.cartSummary {
  margin: 1rem 0;
}

.cartSummaryInner {
  padding: 10px 0;
}

.cartSummaryItems {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cartSummaryItemTitle {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  color: #666;
  font-size: 17px;
}

.cartSummaryItemPrice {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  color: #A5301F;
  font-size: 17px;
}

.cartSummaryItemIneffective {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  color: #999;
  font-size: 17px;
}

.nextStepBtn {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #A5301F;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nextStepBtn:hover {
  background-color: #F5BF1A !important;
  color: #000 !important;
}

.stepIcon {
  margin-bottom: 10px;
  font-size: 25px;
}

.orderForm {
  margin: 1rem 0;
  padding: 0.7rem 0;
}

.label {
  font-family: "Oswald", sans-serif;
  font-size: 17px !important;
}

.cardWrapper {
  margin: 1rem 0;
  padding: 0.7rem 0;
  position: relative;
  height: 100%;
}

.flipCard {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.cardShowBack {
  -webkit-transform: rotateY(180deg) !important;
          transform: rotateY(180deg) !important;
}

.showCvvArea {
  -webkit-transform: rotateY(180deg) !important;
          transform: rotateY(180deg) !important;
}

.card {
  max-width: 420px;
  min-height: 270px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.cardFrontMain {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cardFront {
  background: url("Assets/Payment/cardWallpaper.png");
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 20px;
  padding: 10px;
}

.cardFade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.623);
  border-radius: 20px;
}

.cardFrontWrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardFrontTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.cardFrontTopLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.cardChipArea {
  width: 65px;
  height: 65px;
}

.contactless {
  width: 40px;
  height: 40px;
}

.contactlessImage {
  width: 100%;
  height: auto;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.cardFrontTopRight {
  width: 80px;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}

.cardFrontBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.cardNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cardLabel {
  color: silver;
  font-size: 21px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 5px;
  text-align: start;
  text-transform: uppercase;
}

.cardNumberInput {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 30px;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.cardNumberInput::-webkit-input-placeholder {
  color: #fff;
}

.cardNumberInput:-ms-input-placeholder {
  color: #fff;
}

.cardNumberInput::-ms-input-placeholder {
  color: #fff;
}

.cardNumberInput::placeholder {
  color: #fff;
}

.cardOwner {
  margin-top: 5px;
  text-align: start;
}

.cardOwnerInput {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-right: 5px;
}

.cardOwnerInput::-webkit-input-placeholder {
  color: #fff;
}

.cardOwnerInput:-ms-input-placeholder {
  color: #fff;
}

.cardOwnerInput::-ms-input-placeholder {
  color: #fff;
}

.cardOwnerInput::placeholder {
  color: #fff;
}

.cardExpiryInput {
  width: 50px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 19px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.cardExpiryInput::-webkit-input-placeholder {
  color: #fff;
}

.cardExpiryInput:-ms-input-placeholder {
  color: #fff;
}

.cardExpiryInput::-ms-input-placeholder {
  color: #fff;
}

.cardExpiryInput::placeholder {
  color: #fff;
}

.cardExpirySlash {
  color: #fff;
  font-size: 20px;
  display: inline-block;
}

.cardBack {
  height: 100%;
  width: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cardBackWrapper {
  position: relative;
  z-index: 0;
  max-width: 420px;
  min-height: 270px;
  padding: 10px 0;
  border-radius: 20px;
  background: url("Assets/Payment/cardWallpaper.png");
  background-size: cover;
  background-position: center;
}

.cardBackInner {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.cardBackCvvArea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #575757;
  margin: 10px 0;
  padding: 10px;
}

.cardCvvInput {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-size: 19px;
  font-family: "Oswald", sans-serif;
  width: 60px;
  text-align: center;
  margin-bottom: 5px;
}

.cardCvvInput::-webkit-input-placeholder {
  color: #fff;
}

.cardCvvInput:-ms-input-placeholder {
  color: #fff;
}

.cardCvvInput::-ms-input-placeholder {
  color: #fff;
}

.cardCvvInput::placeholder {
  color: #fff;
}

.cardInfoWrapper {
  width: 100%;
  height: 100%;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.616);
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lottiePay {
  width: 200px;
}
/*# sourceMappingURL=Order.module.css.map */