@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.mainHeader {
  background-color: #A5301F;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999999;
}

.headerWrapper {
  position: relative;
}

.headerWrapper::after {
  content: "";
  background: url("Assets/headerpattern.png") repeat scroll 0 0;
  position: absolute;
  left: 0;
  right: 0;
  height: 16px;
  bottom: -8px;
  z-index: 99;
  -webkit-animation: headerPattern 30s infinite linear;
          animation: headerPattern 30s infinite linear;
}

@-webkit-keyframes headerPattern {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 932px 0;
  }
}

@keyframes headerPattern {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 932px 0;
  }
}

.logo {
  width: 90px;
  height: 90px;
}

.navItem {
  margin: 0 10px;
  list-style: none;
  position: relative;
  background-color: transparent;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navItem:hover {
  background-color: #F5BF1A;
}

.navItem:hover .navLink {
  color: #000 !important;
}

.navItem:hover .navLink .arrowIcon {
  color: #000 !important;
}

.navItem:hover .promotionTitle {
  color: #000 !important;
}

.navItem .navLink {
  padding: 10px;
  font-size: 17px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: "Oswald", sans-serif;
  position: relative;
  z-index: 2;
}

.navItem .arrowIcon {
  font-size: 20px;
  color: #fff;
}

.navItem .promotionTitle {
  font-size: 12px;
  color: #F5BF1A;
  font-family: "Oswald", sans-serif;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 0;
}

.pizzaMenu {
  background-color: #fff;
  border-top: 5px solid #F5BF1A;
  padding: 20px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.juiceMenu {
  background-color: #fff;
  border-top: 5px solid #F5BF1A;
  padding: 10px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.burgerMenu {
  background-color: #fff;
  border-top: 5px solid #F5BF1A;
  padding: 10px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cartWrapperMenu {
  position: relative;
}

.inProduct::after {
  content: "";
  display: block;
  height: 60px;
}

.cartMenu {
  background-color: #fff;
  border-top: 5px solid #F5BF1A;
  padding: 10px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-height: 500px;
  overflow: auto;
}

.cartMenu::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5em;
  height: 2em;
  z-index: 99;
  position: relative;
}

.cartMenu::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 10px;
  size: 1px;
}

.pizzaMenuInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.pizzaMenuList {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.pizzaMenuList .pizzaMenuTitle {
  border-bottom: 1px solid #999;
  color: #333;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.pizzaMenuList .pizzaMenuItem {
  list-style: none;
  padding: 3px 0;
}

.pizzaMenuList .pizzaMenuItem .pizzaMenuLink {
  display: block;
  color: #666;
  padding-right: 30px;
}

.pizzaMenuList .pizzaMenuItem .pizzaMenuLink:hover {
  color: #333 !important;
}

.pizzaMenuImg {
  padding-top: 20px;
  width: 500px;
}

.fastWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fastMenuInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fastMenuInner .fastFood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fastMenuInner .fastFood:first-child {
  margin-bottom: 20px;
}

.fastFoodItem {
  margin-right: 20px;
}

.fastFoodSlide {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.fastFoodSlide .sliderImg {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #A5301F;
}

.fastFoodSlide .fastFoodTitle {
  display: block !important;
  font-size: 17px;
  color: #A5301F;
  font-family: "Oswald", sans-serif;
}

.rightIcon {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.rightIcon:hover {
  color: #F5BF1A !important;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.notLoginMenu {
  width: 200px;
}

.searchIcon {
  font-size: 20px;
  color: #F5BF1A;
}

.searchMenu {
  background-color: #fff;
  border-top: 5px solid #F5BF1A;
  padding: 10px;
  width: 260px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.personMenu {
  background-color: #fff;
  border-top: 5px solid #F5BF1A;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.personDefault {
  padding: 10px;
}

.profileWrapper {
  padding: 16px;
  background-color: #a5311f21;
  width: 260px;
}

.profileWrapper .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profileWrapper .profileImg {
  margin-right: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 7px;
}

.profileWrapper .personIcon {
  font-size: 30px;
  color: #a5311f21;
}

.profileWrapper .profileName {
  font-size: 17px;
  color: #000;
  font-family: "Oswald", sans-serif;
}

.profileWrapper .profileMail {
  font-size: 15px;
  color: #333;
  letter-spacing: 1px;
  font-family: "Oswald", sans-serif;
}

.profileMenu {
  padding-top: 10px;
}

.profileMenu .profileMenuItem {
  list-style: none;
}

.profileMenu .profileMenuItem:nth-child(2) {
  margin-bottom: 10px;
}

.profileMenu .profileMenuItem .logoutLink {
  border-top: 2px solid #efefef;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  color: #000;
  display: block;
  font-family: "Oswald", sans-serif;
}

.profileMenu .profileMenuItem .logoutLink:hover {
  color: #A5301F;
}

.profileMenu .profileMenuItem .logoutIcon {
  margin-right: 2px;
  color: #A5301F;
}

.profileMenu .profileMenuItem .profileLink {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  display: block;
  padding: 10px;
  color: #000;
}

.profileMenu .profileMenuItem .profileLink:hover {
  background-color: #a5311f21;
}

.rightIconWrapper {
  display: block;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}

.rightIconWrapper .cartCount {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #F5BF1A;
  color: #000;
  font-size: 15px;
  padding: 2px 7px;
  border-radius: 50%;
  font-family: "Oswald", sans-serif;
}

.searchInput {
  border: none;
  outline: none;
  width: 90%;
  margin: 10px 0;
}

.searchResult {
  overflow: auto;
  max-height: 450px;
}

.searchResult::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5em;
  height: 2em;
  z-index: 99;
  position: relative;
}

.searchResult::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 10px;
  size: 1px;
}

.searchResult .searchResultList {
  margin: 10px 0;
  width: 100%;
}

.searchResult .searchResultLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.searchResult .searchResultLink .searchResultImg {
  margin-right: 5px;
  width: 80px;
}

.searchResult .searchResultLink .searchResultImg .ResultImg {
  width: 100%;
  height: auto;
}

.searchResult .searchResultItem:hover {
  background-color: #f5f5f5;
}

.searchResult .searchResultInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 5px;
}

.shopCartItemPriceNew {
  display: inline-block;
  font-size: 15px;
  color: #A5301F;
  margin-right: 10px;
  font-family: "Oswald", sans-serif;
}

.shopCartItemPriceOld {
  font-family: "Oswald", sans-serif;
  color: #666;
  text-decoration: line-through;
  font-size: 15px;
}

.searchResultName {
  font-size: 15px;
  color: #000;
  font-family: "Oswald", sans-serif;
}

.navbarToggler {
  margin-right: 10px;
  font-size: 25px;
  color: #fff;
}

@media screen and (max-width: 540px) {
  .fastFoodSlide {
    display: none;
  }
}
/*# sourceMappingURL=Header.module.css.map */