@import "../../../SCSS/Variables.scss";
@import "../../../SCSS/Mixins.scss";

.mainAboutBanner {
  margin-top: 5rem;
}
.aboutInfoWrapper {
  padding: 1rem 0;
  @include flexcolcenter;
  .aboutBannerTitle {
    font-family: "Beau Rivage", cursive;
    color: $secondaryColor;
    font-size: 5rem;
  
    line-height: 0.6;
  }
  .aboutInfo {
    text-align: center;
    position: relative;
  }
  .aboutBannerSubTitle {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .aboutBannerText {
    color: #999;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
.adBannerButton {
  @include redButton;
}
.aboutBannerImageArea {
  position: relative;
  width: 100%;
  overflow: hidden;
  &:hover {
    .aboutBannerImageAreaOverlay {
      width: 100%;
      height: 100%;
    }
    .bannerImg {
      transform: scale(1.7);
    }
  }
  .aboutBannerImageAreaOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(153, 153, 153, 0.205);
    width: 0;
    height: 0;
    transition: all 0.3s ease-in-out;
  }
}

.bannerImg {
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: all 10s linear;
}
.rightAboutImg{
    margin-top: 4rem;
}
