@import "../../../SCSS/Variables.scss";
@import "../../../SCSS/Mixins.scss";

.homeProducts {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
}

.categoryWrapper {
  background-color: $secondaryColor;
}
.categoryItem {
  padding: 1rem 0;
  @include flexcolcenter;
  border-left: 2px solid rgb(212, 176, 13);
  height: 100%;
  cursor: pointer;
  &:hover {
    .categoryTitle {
      color: $mainColor !important;
    }
    .categoryIcon {
      transform: scaleX(-1);
    }
  }
}
.categoryIcon {
  width: 70px;
  height: 70px;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}
.categoryTitle {
  font-size: 21px;
  font-family: $mainFont;
  color: #000;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.categoryLength {
  font-size: 17px;
  font-family: $mainFont;
  color: #000;
  text-align: center;
}
.activeCat {
  color: $mainColor !important;
}
.catproductFade {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 279.99px) {
  .categoryItem{
    padding: .5rem 0 !important;
  }
  .categoryIcon{
    width: 30px !important;
    height: 30px !important;
  }
  .categoryTitle{
    font-size: 18px !important;
  }

}